* {
  box-sizing: border-box;
}

.header {
  background-image: url('images/banner.jpg');
  margin: 0;
  height: 450px;
  color: rgb(19, 114, 197);
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5c63be;
}

.header li {
  float: left;
}

.header li a,
.header .dropbtn {
  display: inline-block;
  color: rgb(254, 254, 254);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(81, 75, 81);
}

.header li.dropdown {
  display: inline-block;
}

.header .dropdown-content {
  display: none;
  position: absolute;
  background-color: #969d8d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #1188dd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

img {
  max-width: 100%;
}

video {
  max-width: 100%;
}

h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

.price {
  color: rgb(0, 13, 255);
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 51.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
    background-color: rgb(204, 211, 120);
  }
}